body {
    font-family: TTLakes, sans-serif;
}

.sidebar {
    width:320px;
    background-color: #FFFFFF;
    box-shadow: 0 0 40px 10px #B5B8B1;
    height:100vh;
    display:flex;
    flex-direction: column;

}

.icon-size {
    width:40px;
    height:40px;  
}

.menu-button {
    background-image: url("./icons/burger2.svg");
}

.sidebar__item--search {
    background-image: url("./icons/search.svg");
}

.sidebar__logo {
    width:97px;
    height:51px;
}

.sidebar__header {
    display:flex;
    height:80px;
    align-items: center;
    margin-top:5px;
}

.sidebar__item--search {
    margin-left:auto;
    margin-right:20px;
}

.menu-button {
    margin-left:24px;
}

.sidebar__item--group {
    margin-left:15px;
}

.sidebar__content {
    margin-left:0;
    margin-top:40px;
    padding-left:0;
}

.sidebar__footer {
    margin-top:auto;
    margin-bottom:20px;
    margin-left:24px;
    display:flex;
    flex-direction: column;
    row-gap:20px;
}

.footer-nav__item--call {
    background-image: url("./icons/call.svg");
}

.footer-nav__item--chat {
    background-image: url("./icons/chat.svg");
}

.footer-nav__item--profile {
    background-image: url("./icons/profile.svg");
}

.footer-nav {
    display:flex;
    column-gap: 20px;
}

.sidebar__link {
    color:#1b1c21;
    font-size:16px;
    display:flex;
    column-gap:24px;
    align-items:center;
}

.sidebar__link:hover {
    color:#7E7E82;
    transition: color 2s, transform 2s;
    .sidebar__highlight {opacity: 1;};
    cursor: pointer;
}

.sidebar__highlight {
    background-image:url("./icons/highlight.svg");
    width:4px;
    height:32px;
    opacity:0;
    transition: opacity 1s, transform 1s;
    
}

.sidebar__list {
    display:flex;
    flex-direction: column;
    row-gap:20px;
}

.language-selector {
    margin-top:30px;
    letter-spacing: -0.2px;
    font-weight: 500;
}

.language-selector:hover {
    cursor: pointer;
}

.language-selector__language--active {
    color:#7E7E82;
}

.sidebar__phone {
    font-weight:700;
    font-size: 24px;
    letter-spacing: -0.6px;
}

.sidebar__phone,
.sidebar__mail {
    color:#1B1C21;
}

.sidebar__button--grayscale:hover {
    filter: grayscale(100%);
    transition: filter 1s;
}

.sidebar__contacts {
    display:flex;
    flex-direction: column;
    gap:20px;
}

